{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="min-h-screen bg-[#F7F7F9] flex flex-col items-center justify-center p-8">
  <h2 class="text-3xl font-bold text-[#3A0CA3] mb-6">Contáctanos</h2>
  
  <div class="flex gap-8">
    <a href="https://wa.me/+50672079861?text=Hola!%20Quiero%20más%20información" target="_blank" class="text-green-600 hover:text-green-700 text-2xl">
      <i class="fab fa-whatsapp"></i> WhatsApp
    </a>
    <a href="https://www.instagram.com/funnyclanlab/?igsh=MWRlNzV3cWttcXg4dA%3D%3D&utm_source=qr#" target="_blank" class="text-pink-500 hover:text-pink-600 text-2xl">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://www.facebook.com/funnnyclanestudiocreativo?mibextid=wwXIfr&rdid=eBYuxnOJY5IXk9t3&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1BF93j5pgr%2F%3Fmibextid%3DwwXIfr#" target="_blank" class="text-blue-600 hover:text-blue-700 text-2xl">
      <i class="fab fa-facebook"></i> Facebook
    </a>
  </div>
</section>
{% endblock %}
