{% extends 'base.html' %}
{% block content %}
<!-- aquí va el contenido de tu HTML actual -->

<div class="contacto-metodos">
    <div class="metodo">
      <a href="https://wa.me/50672079861" target="_blank" style="text-decoration: none; color: inherit; display: flex; flex-direction: column; align-items: center;">
        <i class="fab fa-whatsapp" style="color:#25D366;"></i>
        <span>Whatsapp</span>
    </div>
    <div class="metodo">
      <a href="https://www.instagram.com/funnyclanlab/?igsh=MWRlNzV3cWttcXg4dA%3D%3D&utm_source=qr#" target="_blank" style="text-decoration: none; color: inherit; display: flex; flex-direction: column; align-items: center;">
        <i class="fab fa-instagram" style="color:#E1306C;"></i>
        <span>Instragram
        </span>
    </div>
  <div class="metodo">
    <a href="https://www.facebook.com/funnnyclanestudiocreativo?mibextid=wwXIfr&rdid=6HDF1Uz2Uw8uwQ78&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1BF93j5pgr%2F%3Fmibextid%3DwwXIfr#" target="_blank" style="text-decoration: none; color: inherit; display: flex; flex-direction: column; align-items: center;">
        <i class="fab fa-facebook-f" style="color:#1877F2; "></i>
        <span>Facebook</span>
    </a>
</div>
</div>


{% endblock %}